@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=BenchNine:300);
html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, section, article, header, nav, ul, li {
  margin: 0;
  padding: 0;
  border: 0; }

h1, h2, h3, nav, #mobile-btn {
  color: #656464;
  font-family: "BenchNine", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; }

h2 {
  font-size: 2em;
  font-weight: 100; }

a {
  text-decoration: none;
  color: #656464;
  text-transform: uppercase; }

img {
  width: 100%;
  max-width: 100%;
  max-height: 100%; }

input, select {
  border: 2px solid #e6e6e6;
  width: 90%;
  margin: 1em 0;
  padding: 1em 0em 1em 10%; }

.username:after {
  content: "";
  font-family: "FontAwesome";
  position: absolute; }

input[type="submit"] {
  border: 0;
  width: 100%;
  padding: 1em 0; }

input[type="checkbox"] {
  width: auto;
  margin: 1em 5%;
  background: #fff; }

input[type="search"] {
  border: 0;
  border-bottom: 2px solid #e6e6e6;
  font-size: 20px;
  padding: 0.5em 0 0.5em 10%;
  margin: 0; }

label {
  color: #a4a7ad; }

select {
  width: 100%;
  background: #fff;
  color: #a4a7ad; }

.border {
  box-sizing: box-border;
  -webkit-box-shadow: 0px 0px 10px 1px #ececec;
  -moz-box-shadow: 0px 0px 10px 1px #ececec;
  box-shadow: 0px 0px 10px 1px #ececec;
  background: #fff;
  padding: 5%;
  width: 80%;
  margin: 1em 5%;
  float: left; }

.dark {
  -webkit-box-shadow: 0px 0px 10px 2px #999999;
  -moz-box-shadow: 0px 0px 10px 2px #999999;
  box-shadow: 0px 0px 10px 2px #999999; }

.btn {
  background: #ff0015;
  color: #fff;
  font-weight: bold;
  font-size: 1em; }

.transition, body header nav, body header nav ul li .top .fa, body header .mobile-active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.row {
  width: 100%;
  float: left; }

@media only screen and (min-width: 768px) {
  .half {
    width: 50%;
    float: left; } }

body {
  background: #f5f5f5; }
  @media only screen and (min-width: 1200px) {
    body {
      max-width: 1200px;
      margin: 0 auto; } }
  body header {
    width: 100%;
    float: left;
    text-align: center;
    position: fixed;
    /* Navigation */ }
    @media only screen and (min-width: 1200px) {
      body header {
        max-width: 1200px; } }
    body header .logo {
      background: #bb1818;
      padding: 10px 0; }
      @media only screen and (min-width: 768px) {
        body header .logo {
          width: 20%;
          height: 50px;
          padding-top: 140px; } }
      body header .logo a {
        color: #fff;
        font-family: arial;
        font-weight: bold;
        font-size: 20px; }
    body header nav {
      width: 100%;
      position: fixed;
      left: -100%; }
      @media only screen and (min-width: 768px) {
        body header nav {
          left: 30%;
          top: 0; } }
      @media only screen and (min-width: 1200px) {
        body header nav {
          position: absolute; } }
      body header nav ul li {
        background: #fff;
        border-bottom: 1px solid #ececec;
        list-style-type: none; }
        @media only screen and (min-width: 768px) {
          body header nav ul li {
            width: 10%;
            float: left;
            border-right: 1px solid #ececec;
            border-bottom: 0; } }
  @media only screen and (min-width: 768px) and (min-width: 1200px) {
    body header nav ul li {
      max-width: 120px; } }

        body header nav ul li .top {
          display: none; }
          @media only screen and (min-width: 768px) {
            body header nav ul li .top {
              display: block;
              width: 100%;
              float: left;
              height: 30px;
              padding: 70px 0 30px; }
              body header nav ul li .top .fa {
                font-size: 1.8em;
                padding: 8px 0 0;
                border-radius: 100px;
                width: 44px;
                height: 36px;
                border: 1px solid; }
                body header nav ul li .top .fa:hover {
                  background: #ff0015;
                  color: #fff;
                  border-color: #ff0015; } }
        body header nav ul li a {
          font-size: 22px;
          padding: 5px 0;
          display: block; }
          @media only screen and (min-width: 768px) {
            body header nav ul li a {
              height: 60px;
              float: left;
              width: 100%;
              font-size: 19px; } }
          @media only screen and (min-width: 1200px) {
            body header nav ul li a {
              font-size: 19px; } }
        @media only screen and (min-width: 768px) {
          body header nav ul li .search-text {
            display: none; } }
      @media only screen and (min-width: 768px) {
        body header nav ul li#log-reg {
          width: 20%; } }
      @media only screen and (min-width: 1200px) {
        body header nav ul li#log-reg {
          max-width: 240px; } }
      body header nav ul li#log-reg a {
        border-bottom: 1px solid #ececec; }
        @media only screen and (min-width: 768px) {
          body header nav ul li#log-reg a {
            float: left;
            border-bottom: 0;
            height: 60px;
            width: 50%; } }
        body header nav ul li#log-reg a:last-child {
          border: 0; }
    body header #mobile-btn {
      background: #fff;
      border-bottom: 1px solid #ececec;
      font-weight: bold; }
      @media only screen and (min-width: 768px) {
        body header #mobile-btn {
          display: none; } }
      body header #mobile-btn a {
        font-size: 22px;
        padding: 5px 0;
        display: block; }
        body header #mobile-btn a:after {
          font-family: "FontAwesome";
          content: "  "; }
    body header .mobile-active {
      left: 0; }
      @media only screen and (min-width: 768px) {
        body header .mobile-active {
          left: 30%; } }
  body .container {
    width: 100%;
    float: left;
    margin-top: 6em; }
    @media only screen and (min-width: 768px) {
      body .container {
        margin-top: 220px; } }

/* SOCIAL */
ul.sign-in {
  text-align: center;
  width: 100%; }
  ul.sign-in li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: auto; }
  ul.sign-in .fa {
    color: #fff;
    font-size: 1.1em;
    padding: 10px 0 0;
    border-radius: 100px;
    width: 34px;
    height: 24px; }
  ul.sign-in .fa-facebook {
    background: #3b5998; }
  ul.sign-in .fa-twitter {
    background: #55acee; }
  ul.sign-in .fa-linkedin {
    background: #007bb6; }
  ul.sign-in .fa-google {
    background: #3049b5; }
  ul.sign-in .fa-google-plus {
    background: #dd4b39; }
  ul.sign-in .fa-yahoo {
    background: #720e9e; }
  ul.sign-in .fa-openid {
    background: #f7931e; }
  ul.sign-in .fa-angellist {
    color: #000; }

/* FORM */
#register img {
  height: 45px;
  margin: 1em 0; }

.forgot {
  text-align: center;
  margin: 1em; }
  .forgot a {
    color: #656464;
    font-style: italic;
    text-transform: none; }
  .forgot span {
    color: #ff0015; }

/* Profile */
.profile-user {
  text-align: center;
  float: left;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .profile-user {
      float: left;
      text-align: center;
      width: 25%;
      padding-right: 5%;
      margin-right: 5%;
      box-sizing: border-box;
      border-right: 2px solid #f5f5f5; } }
  @media only screen and (min-width: 1200px) {
    .profile-user {
      border: 0;
      width: 35%;
      margin: 0;
      text-align: left; } }
  .profile-user img {
    border-radius: 200px;
    margin: 0 auto 1em;
    width: 200px; }
    @media only screen and (min-width: 768px) {
      .profile-user img {
        float: left;
        width: 200px; } }
    @media only screen and (min-width: 1200px) {
      .profile-user img {
        width: 30%;
        float: left; } }
  .profile-user h2 {
    margin-bottom: 1em; }
    @media only screen and (min-width: 768px) {
      .profile-user h2 {
        width: 100%;
        margin: 0;
        float: left; } }
    @media only screen and (min-width: 1200px) {
      .profile-user h2 {
        width: 65%;
        margin: 0 0 0 5%;
        float: left;
        text-align: left; } }
  @media only screen and (min-width: 768px) {
    .profile-user ul {
      width: 100%;
      margin: 0;
      float: left; } }
  @media only screen and (min-width: 1200px) {
    .profile-user ul {
      width: 65%;
      margin: 0 0 0 5%;
      float: left;
      text-align: left; } }
  .profile-user ul li {
    list-style-type: none;
    font-family: "BenchNine", sans-serif;
    font-size: 1.25em;
    margin-bottom: 1em; }
    @media only screen and (min-width: 768px) {
      .profile-user ul li {
        margin: 0; } }
    @media only screen and (min-width: 1200px) {
      .profile-user ul li {
        margin: 0; } }
    .profile-user ul li span {
      color: #ff0015; }

.profile-projects {
  margin: 1em 0;
  padding: 1em 0;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  float: left;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .profile-projects {
      border: 0;
      width: 65%;
      margin-top: 5%; } }
  @media only screen and (min-width: 1200px) {
    .profile-projects {
      border: 0;
      width: 45%;
      margin: 0;
      padding: 0; } }
  .profile-projects .third {
    width: 100%;
    float: left; }
    @media only screen and (min-width: 768px) {
      .profile-projects .third {
        width: 33.3%;
        margin: 1em 0; } }
    @media only screen and (min-width: 1200px) {
      .profile-projects .third {
        width: 33.3%;
        margin: 1em 0; } }
    .profile-projects .third h3, .profile-projects .third p {
      width: 50%;
      float: left;
      font-family: "BenchNine", sans-serif; }
      @media only screen and (min-width: 768px) {
        .profile-projects .third h3, .profile-projects .third p {
          width: 100%;
          text-align: center; } }
      @media only screen and (min-width: 1200px) {
        .profile-projects .third h3, .profile-projects .third p {
          width: 100%;
          text-align: center; } }
    @media only screen and (min-width: 768px) {
      .profile-projects .third h3 {
        font-size: 2.25em; } }
    @media only screen and (min-width: 1200px) {
      .profile-projects .third h3 {
        font-size: 2.25em; } }
    .profile-projects .third p {
      font-size: 1.3em;
      text-transform: uppercase; }

.message {
  float: left;
  width: 100%;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .message {
      width: 65%; } }
  @media only screen and (min-width: 1200px) {
    .message {
      width: 15%;
      margin: 4% 0 0 5%; } }
  .message a.btn {
    width: 100%;
    padding: 1em 0;
    float: left;
    font-family: arial; }
  .message a.btn.clear {
    background: transparent;
    color: #656464;
    margin: 1em 0;
    border: 2px solid #a4a7ad;
    box-sizing: border-box; }
    @media only screen and (min-width: 1200px) {
      .message a.btn.clear {
        border: 0;
        margin: 0; } }

@media only screen and (min-width: 1200px) {
  .border.dark {
    padding: 1em 5%;
    margin: 1em 0;
    width: 90%; } }

.banner {
  width: 90%;
  margin: 0 5%; }
  .banner img {
    display: block; }
  @media only screen and (min-width: 1200px) {
    .banner {
      width: 100%;
      margin: 0; } }

/* HEADER 2 - Company */
.border.dark.top {
  margin-top: 0; }
  .border.dark.top ul {
    text-align: center; }
    .border.dark.top ul li {
      list-style-type: none;
      margin: 1em 0; }
      .border.dark.top ul li span {
        color: #ff0015; }
  @media only screen and (min-width: 768px) {
    .border.dark.top .company-container {
      width: 45%;
      float: left;
      margin-right: 5%; } }
  @media only screen and (min-width: 1200px) {
    .border.dark.top .company-container {
      width: 45%;
      float: left;
      margin-right: 5%; } }
  .border.dark.top .company-container .company {
    text-align: center;
    float: left; }
    @media only screen and (min-width: 1200px) {
      .border.dark.top .company-container .company {
        width: 30%; } }
    .border.dark.top .company-container .company img {
      width: 100%;
      height: 50px;
      margin: 0 auto; }
  .border.dark.top .company-container .company-info {
    width: 100%;
    float: left; }
    @media only screen and (min-width: 1200px) {
      .border.dark.top .company-container .company-info {
        width: 65%;
        margin-left: 5%; }
        .border.dark.top .company-container .company-info h2 {
          text-align: left; }
        .border.dark.top .company-container .company-info ul {
          text-align: left; } }
  .border.dark.top .investors {
    width: 100%;
    float: left;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    padding: 1em 0;
    margin: 1em 0; }
    @media only screen and (min-width: 768px) {
      .border.dark.top .investors {
        width: 45%;
        padding-left: 5%;
        border: 0;
        border-left: 2px solid #f5f5f5;
        box-sizing: border-box; } }
    @media only screen and (min-width: 1200px) {
      .border.dark.top .investors {
        width: 20%;
        border: 0;
        padding: 0;
        margin: 0; } }
    .border.dark.top .investors p {
      text-align: center;
      margin-bottom: 1em;
      font-size: 2em;
      font-family: "BenchNine", sans-serif;
      color: #656464; }
      @media only screen and (min-width: 1200px) {
        .border.dark.top .investors p {
          margin: 0 0 1em;
          font-size: 1.2em;
          text-align: left; } }
    .border.dark.top .investors li {
      width: 23%;
      margin: 0 1%;
      float: left; }
      @media only screen and (min-width: 1200px) {
        .border.dark.top .investors li {
          width: 20%;
          margin: 0 2.5%; } }
      .border.dark.top .investors li img {
        width: 100%;
        border-radius: 100px; }
  @media only screen and (min-width: 768px) {
    .border.dark.top .message {
      width: 50%;
      margin: 0em 25%; } }
  @media only screen and (min-width: 1200px) {
    .border.dark.top .message {
      width: 13%;
      margin: 2em 0 0 2%; } }

/*# sourceMappingURL=style.css.map */
