// Variables
$red: #ff0015
$dark-red: #bb1818
$grey: #f5f5f5
$dark-grey: #a4a7ad
$font-color: #656464

// Font

@import url(https://fonts.googleapis.com/css?family=BenchNine:300)
$font-family: 'BenchNine', sans-serif


// Media Queries
@mixin desktop
	@media only screen and (min-width: 768px)
		@content


@mixin desktop-big
	@media only screen and (min-width: 1200px)
		@content


// Reset

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, section, article, header, nav, ul, li
	margin: 0
	padding: 0
	border: 0

h1, h2, h3, nav, #mobile-btn
	color: $font-color
	font-family: $font-family
	text-align: center
	text-transform: uppercase
	letter-spacing: 1px

h2
	font-size: 2em
	font-weight: 100

a
	text-decoration: none
	color: $font-color
	text-transform: uppercase

img
	width: 100%
	max-width: 100%
	max-height: 100%

input, select
	border: 2px solid darken($grey, 6%)
	width: 90%
	margin: 1em 0
	padding: 1em 0em 1em 10%
.username:after
	content: "\f007"
	font-family: "FontAwesome"
	position: absolute
	
input[type="submit"]
	border: 0
	width: 100%
	padding: 1em 0

input[type="checkbox"]
	width: auto
	margin: 1em 5%
	background: #fff

input[type="search"]
	border: 0 
	border-bottom: 2px solid darken($grey, 6%)
	font-size: 20px
	padding: 0.5em 0 0.5em 10%
	margin: 0

label
	color: $dark-grey

select
	width: 100%
	background: #fff
	color: $dark-grey



.border
	box-sizing: box-border
	-webkit-box-shadow: 0px 0px 10px 1px rgb(236, 236, 236)
	-moz-box-shadow: 0px 0px 10px 1px rgb(236, 236, 236)
	box-shadow: 0px 0px 10px 1px rgb(236, 236, 236)
	background: #fff
	padding: 5%
	width: 80%
	margin: 1em 5%
	float: left

.dark
	-webkit-box-shadow: 0px 0px 10px 2px rgb(153, 153, 153)
	-moz-box-shadow: 0px 0px 10px 2px rgb(153, 153, 153)
	box-shadow: 0px 0px 10px 2px rgb(153, 153, 153)


.btn
	background: $red
	color: #fff
	font-weight: bold
	font-size: 1em
	
.transition
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	transition: all 0.3s ease-in-out

.row
	width: 100%
	float: left

.half
	@include desktop
		width: 50%
		float: left

// Styles

body
	background: $grey
	@include desktop-big
		max-width: 1200px
		margin: 0 auto

	header
		width: 100%
		float: left
		text-align: center
		position: fixed
		@include desktop-big
			max-width: 1200px
			
		.logo
			background: $dark-red
			padding: 10px 0
			@include desktop
				width: 20%
				height: 50px
				padding-top: 140px
			a
				color: #fff
				font-family: arial
				font-weight: bold
				font-size: 20px
		/* Navigation */
		nav
			@extend .transition
			width: 100%
			position: fixed
			left: -100%
			@include desktop
				left: 30%
				top: 0
			@include desktop-big
				position: absolute
			ul
				li
					background: #fff
					border-bottom: 1px solid #ececec
					list-style-type: none
					@include desktop
						width: 10%
						float: left
						border-right: 1px solid #ececec
						border-bottom: 0
						@include desktop-big
							max-width: 120px
					.top
						display: none
						.fa
							@extend .transition
						@include desktop
							display: block
							width: 100%
							float: left
							height: 30px
							padding: 70px 0 30px
							.fa
								
								font-size: 1.8em
								padding: 8px 0 0
								border-radius: 100px
								width: 44px
								height: 36px
								border: 1px solid
								&:hover
									background: $red
									color: #fff
									border-color: $red

					a
						font-size: 22px
						padding: 5px 0
						display: block
						@include desktop
							height: 60px
							float: left
							width: 100%
							font-size: 19px
						@include desktop-big
							font-size: 19px
					.search-text
						@include desktop
							display: none
				li#log-reg
					@include desktop
						width: 20%
					@include desktop-big
						max-width: 240px
					a
						border-bottom: 1px solid #ececec
						@include desktop
							float: left
							border-bottom: 0
							height: 60px
							width: 50%
						&:last-child
							border: 0
		#mobile-btn
			background: #fff
			border-bottom: 1px solid #ececec
			font-weight: bold
			@include desktop
				display: none
			a
				font-size: 22px
				padding: 5px 0
				display: block
				&:after
					font-family: "FontAwesome"
					content: "  \f0c9"
		.mobile-active
			@extend .transition
			left: 0
			@include desktop
				left: 30%
	.container
		width: 100%
		float: left
		margin-top: 6em
		@include desktop
			margin-top: 220px

/* SOCIAL */

ul.sign-in
	text-align: center
	width: 100%
	li
		list-style-type: none
		display: inline-block
		text-align: center
		margin: auto
	.fa
		color: #fff
		font-size: 1.1em
		padding: 10px 0 0
		border-radius: 100px
		width: 34px
		height: 24px
	.fa-facebook
		background: #3b5998
	.fa-twitter
		background: #55acee
	.fa-linkedin
		background: #007bb6
	.fa-google
		background: #3049b5
	.fa-google-plus
		background: #dd4b39
	.fa-yahoo
		background: #720e9e
	.fa-openid
		background: #f7931e
	.fa-angellist
		color: #000

/* FORM */
#register
	img
		height: 45px
		margin: 1em 0

.forgot
	text-align: center
	margin: 1em
	a
		color: $font-color
		font-style: italic
		text-transform: none
	span
		color: $red


/* Profile */

.profile-user
	text-align: center
	float: left
	width: 100%
	@include desktop
		float: left
		text-align: center
		width: 25%
		padding-right: 5%
		margin-right: 5%
		box-sizing: border-box
		border-right: 2px solid $grey
	@include desktop-big
		border: 0
		width: 35%
		margin: 0
		text-align: left
	img
		border-radius: 200px
		margin: 0 auto 1em
		width: 200px
		@include desktop
			float: left
			width: 200px
		@include desktop-big
			width: 30%
			float: left

	h2
		margin-bottom: 1em
		@include desktop
			width: 100%
			margin: 0
			float: left
		@include desktop-big
			width: 65%
			margin: 0 0 0 5%
			float: left
			text-align: left
	ul
		@include desktop
			width: 100%
			margin: 0
			float: left
		@include desktop-big
			width: 65%
			margin: 0 0 0 5%
			float: left
			text-align: left
		li
			list-style-type: none
			font-family: $font-family
			font-size: 1.25em
			margin-bottom: 1em
			@include desktop
				margin: 0
			@include desktop-big
				margin: 0
			span
				color: $red
.profile-projects
	margin: 1em 0
	padding: 1em 0
	border-top: 2px solid $grey
	border-bottom: 2px solid $grey
	float: left
	width: 100%
	@include desktop
		border: 0
		width: 65%
		margin-top: 5%
	@include desktop-big
		border: 0
		width: 45%
		margin: 0
		padding: 0

	.third
		width: 100%
		float: left		
		@include desktop
			width: 33.3%
			margin: 1em 0
		@include desktop-big
			width: 33.3%
			margin: 1em 0		
		h3, p
			width: 50%
			float: left
			font-family: $font-family
			@include desktop
				width: 100%
				text-align: center
			@include desktop-big
				width: 100%
				text-align: center
		h3		
			@include desktop
				font-size: 2.25em
			@include desktop-big
				font-size: 2.25em		
		p
			font-size: 1.3em
			text-transform: uppercase
.message
	float: left
	width: 100%
	text-align: center
	@include desktop
		width: 65%
	@include desktop-big
		width: 15%
		margin: 4% 0 0 5%
	a.btn
		width: 100%
		padding: 1em 0
		float: left
		font-family: arial
	a.btn.clear
		background: transparent
		color: $font-color
		margin: 1em 0
		border: 2px solid $dark-grey
		box-sizing: border-box
		@include desktop-big
			border: 0
			margin: 0


.border.dark
	@include desktop-big
		padding: 1em 5%
		margin: 1em 0
		width: 90%




.banner
	width: 90%
	margin: 0 5%
	img
		display: block
	@include desktop-big
		width: 100%
		margin: 0

/* HEADER 2 - Company */

.border.dark.top
	margin-top: 0
	ul
		text-align: center
		li
			list-style-type: none
			margin: 1em 0
			span
				color: $red

	.company-container
		@include desktop
			width: 45%
			float: left
			margin-right: 5%
		@include desktop-big
			width: 45%
			float: left
			margin-right: 5%
		.company
			text-align: center
			float: left
			@include desktop-big
				width: 30%
			img
				width: 100%
				height: 50px
				margin: 0 auto

		.company-info
			width: 100%
			float: left
			@include desktop-big
				width: 65%
				margin-left: 5%
				h2
					text-align: left
				ul
					text-align: left
					li 



	.investors
		width: 100%
		float: left
		border-top: 2px solid $grey
		border-bottom: 2px solid $grey
		padding: 1em 0
		margin: 1em 0
		@include desktop
			width: 45%
			padding-left: 5%
			border: 0
			border-left: 2px solid $grey
			box-sizing: border-box
		@include desktop-big
			width: 20%
			border: 0
			padding: 0
			margin: 0
		p
			text-align: center
			margin-bottom: 1em
			font-size: 2em
			font-family: $font-family
			color: $font-color
			@include desktop-big
				margin: 0 0 1em
				font-size: 1.2em
				text-align: left


		li
			width: 23%
			margin: 0 1%
			float: left
			@include desktop-big
				width: 20%
				margin: 0 2.5%
			img
				width: 100%
				border-radius: 100px

	.message
		@include desktop
			width: 50%
			margin: 0em 25%
		@include desktop-big
			width: 13%
			margin: 2em 0 0 2%
